body {
    background-color:beige;
}

h2 {
    color:rgb(185, 25, 25);
}

h3 {
    color: rgb(219, 65, 45)
}

a {
    color: rgb(233, 144, 144);
    text-decoration: none;
}

a:hover {
    color:rgb(199, 89, 75);
}