body {
    background-color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2 {
    color:rgb(185, 25, 25);
}

h3 {
    color: rgb(219, 65, 45)
}

a {
    color: rgb(233, 144, 144);
    text-decoration: none;
}

a:hover {
    color:rgb(199, 89, 75);
    background-color:rgba(199, 89, 75, 0.398);
}

p {
color: rgb(233, 144, 144);
}

.nav {
 display: block;
  width: 130px;
}

.vl {
  border-left: 1px solid;
  height: 1000px;
  position: absolute;
  left: 200px;
  top: 0;
  position: fixed;
}

li{
    font-size: 15px;
}

.box{
    /* background-color: rgb(229, 82, 82); */
    width: 200px;
    height: 447px;
    /* border: 3px solid; */
    margin-top: 0px; 
    position: fixed;
}

.image{
    /* background-color: rgb(229, 82, 82); */
    width: 454px;
    height: 788px;
    /* border: 3px solid; */
    margin-top: 10px; 
    position: relative;
    z-index: -1;
    left: 210px;
}