*{
    box-sizing: border-box;
}

body{
    background: pink;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    transition: background 1s;
    transition: color 1s;
}

.flex{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.draggable{
    cursor: grab;
}

.star {
    background: darkred;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    transition: background 1s, width 1s, height 1s;
  }
  .star:before,
  .star:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background: darkred;
    transition: background 1s, width 1s, height 1s;
  }
  .star:before {
    transform: rotate(30deg);
  }
  .star:after {
    transform: rotate(60deg);
  }

.left{
    position: relative;
    display: block;
    margin:10px;
}

p{
    margin-left: 10px;
}

.left:hover{
    box-shadow: 0 5px 5px 0 darkred;
}

.hat1{
   position: fixed;
   bottom: 10px;
   right: 10px;
   width: 300px;
   opacity: 0;
  transition: opacity .5s;
}

.show{
    opacity: 1;
}

.friend1{
    position: fixed;
    bottom: 150px;
    right: 10px;
    width: 200px;
    opacity: 0;
   transition: opacity .5s;
}

.friend1.show{
    opacity: 1;
}

.star.dark{
    background: rgb(70, 12, 12);
}

body.dark{
    background: rgb(130, 42, 57);
    color: rgb(70, 12, 12);
}

.star.dark:before{
    background: rgb(70, 12, 12);
}

.star.dark:after{
    background: rgb(70, 12, 12);
}

.star.light{
    background: rgb(235, 4, 4);
}

body.light{
    background: rgb(251, 230, 233);
}

.star.light:before{
    background:  rgb(235, 4, 4);
}

.star.light:after{
    background:  rgb(235, 4, 4);
}

.star.grow{
    width:500px;
    height:500px;
}
.star.grow:before{
    width:500px;
    height:500px;
}
.star.grow:after{
    width:500px;
    height:500px;
}

.star.small{
    width:100px;
    height:100px;
}
.star.small:before{
    width:100px;
    height:100px;
}
.star.small:after{
    width:100px;
    height:100px;
}

